{% extends 'app/services/template.html' %}
{% load staticfiles %}

{% block headInner %}
    <title>Благоустрйоство города Калач | НКО Калачеевские краеведы </title>
	    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <meta name="description"
          content=" Калачеевская пещера, воскресенский храм, город Калач | НКО Калачеевские краеведы ">
    <meta name="Keywords"
          content="Калачеевская пещера, воскресенский храм, город Калач | НКО Калачеевские краеведы">
{% endblock headInner %}

{% block contentInner %}
    <article class="content">
        <div class="oh">
            <div class="bread" xmlns:v="http://rdf.data-vocabulary.org/#">
                <span typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Главная</a></span><img
                    src="{% static 'images/template/arrow_white_28.png' %}" alt="Разделитель" class="breadDivider"/>
                <span typeof="v:Breadcrumb"><p >Направления</p></span><img
                    src="{% static 'images/template/arrow_white_28.png' %}" alt="Разделитель" class="breadDivider"/>
                <span id="lastCrumb">Благоустройство города Калач</span><img src="{% static 'images/template/arrow_purple_30.png' %}"
                                                       alt="Разделитель" class="breadEnd"/>
            </div>
        </div>
        <div class="tac">
            <img src="{% static 'images/template/vignette_left.png' %}" alt="виньетка1" class="vignette"/>
            <h1 class="mt60 mb30 fwb fs24 ib">Благоустройство города Калач</h1>
            <img src="{% static 'images/template/vignette_right.png' %}" alt="виньетка2" class="vignette"/>
        </div>
        <div class="gallery_wrap">
            <div class="fotorama" data-allowfullscreen="true"  data-nav="thumbs">
                <img data-caption="1" src="{% static 'images/services/gorod/kalach_0.jpg' %}"">
            </div>
        </div>

    </article>
    <article class="content">
        <div id="anchor1" class="lab2">
            <h2 class="fwb fs24 ib">Что уже сделано</h2>
        </div>
        <div class="textBlock10 pt10"><p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;За полгода КМО КПО «Калачеевские краеведы» осуществила следующее:</p><br>

            <ul class="ulMove20">
                <li>написана и издана брошюра «Уникальный храм земли Калачеевской» о Воскресенском храме;</li>
                <li>разработан буклет «Тайны подземной обители» о Калачеевской культовой пещере;</li>
                <li>разработан буклет «Герои-калачеевцы» о 17-ти Героях Советского Союза, жителей Калачеевского района;</li>
                <li>произведена чистка старого сада на территории Калачеевской культовой пещеры;</li>
                <li>установлен баннер, посвящённый десантникам Калачеевского района;</li>
                <li>во всероссийскую газету «Десантники России» помещён материал о десантниках Калачеевского района во главе с их руководителем Юрием Котляровым;</li>
                <li>2 августа 2018 г. десантникам Калачеевского района оказана помощь в проведении праздника у памятника генералу армии В.Ф. Маргелову;</li>
                <li>написана песня, посвящённая воздушно-десантным войскам;</li>
                <li>установлен баннер «Успех города Калача – в правильном выборе пути развития».</li>
            </ul>
        </div><br>

        <div class="textBlock">
            Планируется развивать город Калач всеми доступными нам способами. <b>Следите за обновлениями на сайте в разделе Новости.</b>
        </div>        
        


{% endblock contentInner %}