{% extends 'app/services/template.html' %}
{% load staticfiles %}

{% block headInner %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <title>Калачеевская пещера | НКО Калачеевские краеведы </title>
    <meta name="description"
          content=" Калачеевская пещера, воскресенский храм, город Калач | НКО Калачеевские краеведы ">
    <meta name="Keywords"
          content="Калачеевская пещера, воскресенский храм, город Калач | НКО Калачеевские краеведы">
{% endblock headInner %}

{% block contentInner %}
    <article class="content">
        <div class="oh">
            <div class="bread" xmlns:v="http://rdf.data-vocabulary.org/#">
                <span typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Главная</a></span><img
                    src="{% static 'images/template/arrow_white_28.png' %}" alt="Разделитель" class="breadDivider"/>
                <span typeof="v:Breadcrumb"><p >Направления</p></span><img
                    src="{% static 'images/template/arrow_white_28.png' %}" alt="Разделитель" class="breadDivider"/>
                <span id="lastCrumb">Калачеевская пещера</span><img
                    src="{% static 'images/template/arrow_purple_30.png' %}"
                    alt="Разделитель" class="breadEnd"/>
            </div>
        </div>
        <div class="tac">
            <img src="{% static 'images/template/vignette_left.png' %}" alt="виньетка1" class="vignette"/>
            <h1 class="mt60 mb30 fwb fs24 ib">Калачеевская культовая пещера</h1>
            <img src="{% static 'images/template/vignette_right.png' %}" alt="виньетка2" class="vignette"/>
        </div>
        <div class="gallery_wrap">
            <div class="fotorama" data-nav="thumbs"  data-allowfullscreen="true">
                <img data-caption="Вход раньше" src="{% static 'images/services/peshera/gal_1.jpg' %}"">
                <img data-caption="Вход после зимы в 2018" src="{% static 'images/services/peshera/gal_2.jpg' %}"">
                <img data-caption="Вход в апреле 2018 расчистил Адамов" src="{% static 'images/services/peshera/gal_3.jpg' %}"">
                <img data-caption="Крестный ход к пещере. 2007 год" src="{% static 'images/services/peshera/gal_4.jpg' %}"">
                <img data-caption="Схема пещерного монастыря" src="{% static 'images/services/peshera/gal_5.jpg' %}"">
                <img data-caption="Фотографии пещеры. Фото Владимир Малдер - vmulder.livejournal.com" src="{% static 'images/services/peshera/gal_6.jpg' %}"">
                <img data-caption="Фотог пещеры. Фотограф Владимир Малдер - vmulder.livejournal.com" src="{% static 'images/services/peshera/gal_7.jpg' %}"">
                <img data-caption="Фото пещеры. Фотограф Владимир Малдер - vmulder.livejournal.com" src="{% static 'images/services/peshera/gal_8.jpg' %}"">
                <img data-caption="Фото пещеры. Фотограф Владимир Малдер - vmulder.livejournal.com" src="{% static 'images/services/peshera/gal_9.jpg' %}"">
                <img data-caption="Фото пещеры. Фотограф Владимир Малдер - vmulder.livejournal.com" src="{% static 'images/services/peshera/gal_10.jpg' %}"">
            </div>
        </div>
        
        <div class="textBlock pt20">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;На территории города Калача Воронежской области расположена
            Калачеевская пещера, подземный православный монастырь, где есть два храма, несколько келий, разветвлённые и
            параллельные коридоры общей длиной 1000 м, винтовые лестницы, «лежанки» (места для мощей) – всё в стиле
            ранней Византии. На особую древность пещеры указывают граффити в виде розеток и пальмовых ветвей, т.е.
            символы первых христиан (такие же встречаются в римских катакомбах).
        </div>
        <p class="textBlock">Для реализации ремонтов на профессиональном уровне в штате нашей компании предусмотрена
            бригада специалистов, располагающих всеми необходимыми инструментами и опытом.</p>
        <nav id="pageNav" class="textBlock">
            <a href="#anchor1" class="anchor anchor1">История калачеевской пещеры</a>
            <a href="#anchor2" class="anchor anchor2">Текущее состояние пещеры</a>
        </nav>
    </article>
    <article class="content">
        <div id="anchor1" class="lab2">
            <h2 class="fwb fs24 ib">История калачеевской пещеры</h2>
        </div>

        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Отрадно сознавать, что начинаются работы по возрождению
            монастыря. Члены некоммерческой общественной организации «Калачеевские краеведы» столько раз поднимали
            вопрос о восстановлении пещеры, что на этот раз городская администрация сработала – городу выделил средства
            Минстрой.
        </div>
        <div class="tac">
            <figure class="img_comment">
            <img class="content_img" alt="Калачеевская пещера"
                              src="{% static 'images/services/peshera/Potapenko.jpg' %}">
                <figcaption>М.Потапенко у входа в Калачеевскую пещеру</figcaption>
            </figure>
        </div>
        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Вход в подземный меловой монастырь сохранился благодаря
            молодому краеведу, сотрудничающему с НКО, <b>Михаилу Потапенко</b>. С 12-летнего возраста Миша расчищал вход
            в подземелье после зимы – иногда один, иногда вместе с друзьями. Для скольких людей Михаил провёл экскурсии
            по меловому монастырю, в котором он легко ориентируется и знает все его особенности! Сняты несколько
            видео-фильмов, восхищает знание молодым человеком истории предполагаемого времени создания уникального
            объекта культурного наследия, особенностей церковного обслуживания подземного храма. В Московском
            Историческом музее Михаил обнаружил записи художника и археолога-любителя XIX века Д. Струкова, посетившего
            в своё время Калачеевскую пещеру и определившего её особенную древность – первые века нашей эры
        </div>
        <div class="tac">
            <figure class="img_comment">
            <img class="content_img" alt="Кадачеевская пещера"
                              src="{% static 'images/services/peshera/Boiko.jpg' %}">
                <figcaption>А.М. Бойко и экскурсионная группа 24.07.2016 г. у входа в Калачеевскую пещеру</figcaption>
            </figure>

        </div>
            
        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Андрей Михайлович Бойко</b> больше всех переживал, почему
            в других местах пещерные монастыри восстановлены и действуют, а Калачеевская пещера, самая масштабная в
            Среднем Подонье, до сих пор в запустении. Вместе с председателем Совета НКО «Калачеевские краеведы» Еленой
            Степановной Свиридовой он участвовал в Международных научно-практических конференциях на территории
            Дивногорского Музея-заповедника «Христианские пещерные комплексы Восточной Европы» (24-27 апреля 2014 г.) и
            «Пещеры как объекты истории и культуры» (19-22 апреля 2016 г.), оба выступали с докладами о Калачеевской
            культовой пещере, их статьи вошли в сборники, изданные по итогам Международных конференций.
        </div>

        <div class="tac">
            <figure class="img_comment">
            <img class="content_img" alt="Кадачеевская пещера"
                              src="{% static 'images/services/peshera/adamov.jpg' %}">
            <figcaption>И.Н. Адамов возле баннера</figcaption>                              
            </figure>
        </div>

        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Игорь Николаевич Адамов</b>, зам.председателя Совета НКО
            «Калачеевские краеведы» – человек, способный на гражданский подвиг. Последние пять лет он был единственным,
            кто заботился о пещере практически: после каждой зимы отгребал насыпавшийся у входа грунт, покупал замки
            вместо срезанных кем-то, не пускал в пещеру нетрезвых земляков, косил траву вокруг, проводил экскурсии для
            всех желающих, не отказывая никому. Он отличный организатор. Пенсионеры, десантники, индивидуальные
            предприниматели – все охотно откликались на его просьбы помочь. Трудами Адамова установлены баннер и перила
            при подъёме к пещере, расчищен старый сад внизу.
        </div>

        <div class="tac">
            <figure class="img_comment">
            <img class="content_img" alt="Кадачеевская пещера"
                              src="{% static 'images/services/peshera/smirnov.jpg' %}">
            <figcaption>Слева направо - И.Смирнов, гости из Словении, А.Е. Козинин</figcaption>
            </figure>
        </div>

        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Страстные исследователи пещеры – <b>Ирина Михайловна Азарова</b>, <b>Юлия Згинник</b>. <b>Александра Григорьевна Лихобабина</b> всю жизнь собирает бесценный материал о возможных строителях пещеры, о прошлом Калача. Последнее время с организацией сотрудничает молодой, подающий надежды краевед <b>Иван Смирнов</b>.  Он обладает хорошей коммуникабельностью, исследовательским терпением и здоровой инициативностью. С такими людьми пещере жить!
        </div>

        <div class="tac">
        <figure class="img_comment">
            <img class="content_img" alt="Калачеевская пещера"
                              src="{% static 'images/services/peshera/sviridova.jpg' %}">
            <figcaption>Е.С. Свиридова (справа) и участники Международной конференции в Костомарово</figcaption>
        </figure>
        </div>


    </article>
    <article class="content">
        <div id="anchor2" class="lab2">
            <h2 class="fwb fs24 ib">Текущее состояние пещеры</h2>
        </div>
        <div class="textBlock">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В июле 2018 года и.о. руководителя Управления по охране
            объектов культурного наследия Воронежской области М.М. Ивкович распорядилась закрыть пещеру. НКО
            «Калачеевские краеведы» считают это решение преждевременным, т.к. пещера не подготовлена к зиме. В ближайшее
            время общественники собираются решать совместно с городской администрацией, как защитить подземные коридоры
            от проникновения поверхностных вод.
        </div>
        <div class="tac"><img class="content_img" alt="Кадачеевская пещера"
                              src="{% static 'images/services/peshera/4.jpg' %}"></div>


{% endblock contentInner %}